{% if page.comments %}
	<h3 id="comments" class="t60">{{ site.data.language.comments_headline }}</h3>


	<div id="gitment-container"></div>
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script type="text/javascript">
	  var gitment = new Gitment({
			  id: '{{ page.url }}',
			  owner: '{{ site.gitment.owner }}',
			  repo: '{{ site.gitment.repo }}',
			  oauth: {
				    client_id: '{{ site.gitment.oauth.client_id }}',
				    client_secret: '{{ site.gitment.oauth.client_secret }}',
			  },
	  })
	  gitment.render('gitment-container')
	  // gitment.render('comments')
    // or
    // gitment.render(document.getElementById('comments'))
    // or
    // document.body.appendChild(gitment.render())
	</script>

{% endif %}
