{% if page.comments %}
  <h3 id="comments" class="t60">{{ site.data.language.comments_headline }}</h3>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    const gitment = new Gitment({
      id: 'http://liyangbit.github.io', // optional
      owner: 'liyangbit',
      repo: 'blog-comments',
      oauth: {
        client_id: 'b3634cd18d6721800472',
        client_secret: '097e900c505d5ccb0dc8e6cffb1cffc1f1de311b',
      },
      // ...
      // For more available options, check out the documentation below
    })

    gitment.render('comments')
    // or
    // gitment.render(document.getElementById('comments'))
    // or
    // document.body.appendChild(gitment.render())


{% endif %}
