<aside>

	<div>
		{% include sidebar-search.html %}
	</div>

	<div class="panel radius">
		<ul>
		{% for entry in site.data.sidebar-navigation.entries %}
		<li><strong><a href="{{ site.url }}{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></strong></li>

			<ul>
				{% for item in entry.dropdown %}
				<li><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>

	  {% endfor %}
	  </ul>
		<!-- <h3>Python数据之道</h3>
		<p>
			秉承“让数据更有价值”的理念，主要分享数据相关的内容，包括数据分析，挖掘，可视化，机器学习，深度学习等。
		</p> -->
	</div>

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="Python数据之道"> -->


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->

	<div>
	<div class="panel radius" style="position:relative; max-height:800px; overflow:auto">

		{% if page.categories[0] contains "projects" %}
		<h3><strong>项目实战专题</strong></h3>

		{% for entry in site.data.mycategories.entries %}
		{% for mycat in entry.categories %}

		{% for cat in page.categories %}
		{% if mycat == cat %}
		{% include list-posts-link.html category=mycat %}
		{% endif %}
		{% endfor %}

		{% endfor %}
		{% endfor %}


		{% elsif page.categories[0] contains "tutorials" %}
		<h3><strong>Python教程</strong></h3>

		{% for entry in site.data.mycategories.entries %}
		{% for mycat in entry.categories %}

		{% for cat in page.categories %}
		{% if mycat == cat %}
		{% include list-posts-link.html category=mycat %}
		{% endif %}
		{% endfor %}

		{% endfor %}
		{% endfor %}

    {% else %}

		<h3><strong>推荐文章</strong></h3>

		{% include list-posts-link.html tag="recommend" %}


		{% endif %}



	</div>
  </div>

</aside>
