<aside>

	<div>
		{% include sidebar-search.html %}
	</div>

	<div class="panel radius">
		<h3>Python数据之道</h3>
		<p>
			秉承“让数据更有价值”的理念，主要分享数据相关的内容，包括数据分析，挖掘，可视化，机器学习，深度学习等。
		</p>
	</div>

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="Python数据之道"> -->


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
	<div class="panel radius">
		{% if page.categories[0] contains "projects" %}
		<h3>项目实战专题</h3>
		<ul>
		    {% for post in site.categories.projects %}
		    <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"><strong>{{ post.title }}</strong></a></li>
		    {% endfor %}
		</ul>

		{% elsif page.categories[0] contains "tutorials" %}
		<h3>Python教程</h3>
		<ul>
				{% for post in site.categories.tutorials %}
				<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
		</ul>

		{% else %}
		<ul>
		{% for entry in site.data.sidebar-navigation.entries %}
		<li><a href="{{ site.url }}{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>

			<ul>
				{% for item in entry.dropdown %}
				<li><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>

	  {% endfor %}
	  </ul>
		{% endif %}
	</div>

</aside>
